.header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #111;
    background-image: url('../img/mountain_16_9.png');
    background-position: bottom;
    background-size: cover;
    font-size: 3em;
    -webkit-text-stroke: 3px #111;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif, Tahoma, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.header-description {
    color: antiquewhite;
    -webkit-text-stroke: 2px #222;
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .header {
        font-size: 2em;
    }
}